.OverlapSession__container {
  margin: 10px;
}

.OverlapSession__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.OverlapSession__box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.OverlapSession__message {
  height: 30px;
}

.OverlapSession__error_message {
  height: 15px;
}


