.StudentSubGroupIdUpdate__container {
  margin: 100px;
}

.StudentSubGroupIdUpdate__box {
  width: auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


